@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");

body {
  background: url(../images/blog-bg.png) no-repeat;
  background-size: contain;
  position: relative;
  width: 100%;
  background-position: right;
}
/* body.blog-body {
  overflow-y: hidden;
} */
.career-bold-text {
  color: rgb(185 28 28) !important;
}
/* #landing.blog-section {
  width: 100%;
  background: url(../images/partnership/partnership.png) no-repeat;
  background-size: cover;
  position: relative;
} */
.preloader {
  z-index: 100000000;
}

#landing,
#resume,
#interview,
#apply,
#offer,
#job {
  transition: 0.5s all;
}

#job,
#resume,
#interview,
#apply,
#offer {
  z-index: 100000000;
}
.blog-container {
  width: 100%;
  margin: auto;
}

/* tabs */
.blog-tabs {
  margin: 60px 0 0px;
}
.blog-tabs .nav-tabs {
  display: none;
  border: none;
  margin-bottom: 40px;
  width: 80%;
  margin: 0 auto 10px;
}

.blog-tabs .nav-tabs .nav-link {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #e1e1e1;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.blog-tabs .nav-tabs .nav-link.active,
.blog-tabs .nav-tabs .nav-item.show .nav-link,
.blog-tabs .nav-tabs .nav-link:hover,
.blog-tabs .nav-tabs .nav-link:focus {
  background-color: transparent;
  border-bottom: 2px solid #cc1521;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  color: #cc1521;
}
.blog-tabs .card {
  background-color: transparent;
}
.blog-tabs .card .collapse {
  visibility: visible;
  display: block !important;
}
.blog-tabs .card-body {
  padding: 24px 0px;
}
.blog-tabs .card-body .news-date {
  color: #000;
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 300;
  letter-spacing: 0.72px;
  padding-right: 40px;
}
.side-nav a.nav-link {
  padding: 0 8px;
  text-decoration: none;
  color: #000;
}
.right-content {
  overflow-y: auto;
  /* height: calc(100vh - 220px); */
  height: auto;
  width: 90%;
  padding-left: 20px;
}
.right-content::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.right-content {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
/* blog post */
.blog-banner {
  /* position: fixed; */
  /* flex: 0 0 33.333333%; */
  /* max-width: 33.333333%; */
  /* display: flex; */
  /* padding: 0 15px; */
  /* margin-bottom: calc(100vh - 550px); */
}
.blog-banner .blog-banner-title {
  background-image: url("../images/business-hand.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* width: 420px; */
  width: 100%;
  height: 500px;
  margin: 0 auto;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.blog-banner-title h3 {
  color: #fff;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 119.023%;
  letter-spacing: 1.44px;
}
.blog-banner-title p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 119.02%;
  letter-spacing: 0.02em;
  color: #ffffff;
  position: relative;
  margin-bottom: 0;
}
.blog-banner-title p::after {
  content: "";
  position: absolute;
  width: 55%;
  border: 1px solid #ffffff;
  height: 0;
  right: 0;
  left: auto;
  top: 0;
  bottom: 0;
  margin: auto;
  display: block;
}
.other-news {
  margin-top: 50px;
  padding-left: 30px;
}
.other-news h3 {
  color: #000;
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 119.023%;
  letter-spacing: 0.8px;
  margin-bottom: 20px;
}
.other-news .other-news-inner {
  width: 75%;
  border-right: 1px solid #000;
  padding-right: 25px;
}
.other-news .other-news-inner .other-wrap {
  margin-bottom: 20px;
}
.other-news .other-news-inner .other-wrap p {
  color: #000;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.42px;
  margin-top: 12px;
}
.blog-post {
  padding: 22px 5px;
}
.user-logo {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  overflow: hidden;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  margin-right: 20px;
  flex-shrink: 0;
  filter: drop-shadow(0px 8px 6px rgba(0, 0, 0, 0.26));
}
.user-logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.blog-user-detail {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}
.user-name h4 {
  font-size: 20px;
  font-weight: 600;
  font-family: "Inter";
  margin-bottom: 0;
}
.user-name h4 span {
  font-weight: 300;
  font-size: 15px;
  margin-top: 6px;
}
.post-content .post-title {
  color: #000;
  font-family: Inter;
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: 119.023%;
  letter-spacing: 0.76px;
  margin-bottom: 25px;
}
.post-content .post-subtitle {
  color: #000;
  text-align: justify;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 119.023%;
  letter-spacing: 0.64px;
  margin-bottom: 40px;
}
.post-list h4 {
  color: #000;
  font-family: Inter;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.72px;
  margin-bottom: 20px;
}
.post-list p {
  color: #000;
  font-family: Inter;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0.64px;
  margin-bottom: 15px;
}
.footer {
  background-color: #232323;
  padding: 25px 0;
  z-index: 1;
  position: relative;
}
.footer-container {
  width: 95%;
  margin: auto;
}
.footer-container h5 {
  font-size: 22px;
  margin-bottom: 15px;
  font-weight: 700;
}
.footer-part .follows-content .left-part {
  margin-top: 30px;
}
.footer-container ul li {
  display: inline-flex;
  margin: 7px 0;
}
.footer-container ul li a {
  display: flex;
  align-items: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 31px;
  color: #d2d2d2;
  padding: 0 4px;
  transition: opacity 0.2s ease-in;
  -webkit-transition: opacity 0.2s ease-in;
  -moz-transition: opacity 0.2s ease-in;
  -ms-transition: opacity 0.2s ease-in;
  -o-transition: opacity 0.2s ease-in;
}
.footer-container ul li a img {
  width: 15px;
}
.footer-container ul.social-detail li a img {
  width: 28px;
}
.subscribe-content .form-group {
  margin-top: 20px;
}
.subscribe-content .form-control {
  border-bottom: 1px solid #fff;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  background-color: transparent;
  color: #fff;
  border-radius: 0;
  padding-left: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  padding: 25px 0px;
}
.subscribe-content .form-control:focus {
  box-shadow: none;
}
.subscribe-content .form-control::placeholder {
  color: #fff;
}
.fixed {
  top: 70px;
}

.fixed.blog-banner .blog-banner-title {
  height: calc(100vh - 90px);
  transition: height 0.5s;
}

/* vlog tab */
/* .wall-container {
  background-color: #fff;
} */
.wall-title {
  background-color: #2a2a2a;
  color: #fff;
  font-family: Inter;
  font-size: 26px;
  font-weight: 500;
  letter-spacing: 0.98px;
  text-transform: uppercase;
  padding: 8px 15px;
  margin-bottom: 20px;
}

.wall-video {
  background: #d9d9d9;
  width: 100%;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.introduction-container {
  background: #2a2a2a;
}
.vlog-text {
  width: 85%;
  margin: 30px auto;
}
.vlog-text h5 {
  color: #292929;
  text-align: right;
  font-family: Inter;
  font-weight: 500;
  letter-spacing: 1.76px;
  font-size: 38px;
  line-height: 45px;
}
.vlog-text h5 span {
  margin-top: 20px;
}
.text-red {
  color: #cc1521;
}
/* news */
.news-container {
  margin-top: 30px;
}
.news {
  margin-bottom: 40px;
  width: 95%;
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
}
.news:hover {
  transform: translateX(190px) scale(1.2);
  margin: 10px 0 30px;
}
.news-img {
  width: 200px;
  height: 120px;
  overflow: hidden;
  flex-shrink: 0;
  cursor: pointer;
}
.news-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top center;
}
.news-title {
  color: #2d2d2d;
  font-family: Inter;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 0.82px;
  margin-bottom: 12px;
}
.news-detail {
  font-size: 20px;
  line-height: 120%;
}
.news-date {
  font-weight: 500;
}
@media screen and (max-width: 1024px) {
  .vlog-text h5 {
    font-size: 27px;
    line-height: 38px;
  }
  .news-title {
    font-size: 22px;
  }
  .news-detail {
    font-size: 18px;
  }
}
@media screen and (min-width: 992px) {
  .blog-banner .blog-banner-title {
    height: calc(100vh - 220px);
  }
}
@media screen and (max-width: 992px) {
  .footer-container {
    flex-direction: column;
    margin: 15px 0;
    padding: 0 1rem;
  }
}
@media screen and (max-width: 991.59px) {
  .blog-banner {
    position: relative;
    max-width: 100%;
  }
  .other-news .other-news-inner {
    width: 100%;
    border-right: none;
    padding-right: 0;
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .other-news {
    padding: 0px 30px;
  }
  .other-news .other-news-inner a {
    width: 48%;
  }
  .fixed {
    position: relative;
  }
}
@media screen and (max-width: 768px) {
  .side-nav a.nav-link {
    padding: 0.5rem;
  }
  .wall-title {
    font-size: 20px;
    text-align: left !important;
  }
  .other-news .other-news-inner .other-wrap p {
    font-size: 14px;
  }
}
@media (min-width: 768px) {
  .blog-tabs .nav-tabs {
    display: flex;
  }

  .blog-tabs .card {
    border: none;
  }

  .blog-tabs .card .card-header {
    display: none;
  }

  .blog-tabs .card .collapse {
    display: block;
    visibility: visible;
  }
}

@media (max-width: 767px) {
  .blog-tabs .tab-content > .tab-pane {
    display: block !important;
    opacity: 1;
    margin: 10px 15px;
  }
  .blog-banner {
    max-width: 100%;
    padding: 0;
  }
  .card-header h5 a.collapsed {
    color: #232323;
    text-decoration: none;
  }
  .card-header h5 a {
    color: #cc1521;
    text-decoration: none;
  }
  .blog-banner-title h3 {
    font-size: 23px;
  }
  .blog-banner-title p {
    font-size: 16px;
  }
  .blog-banner .blog-banner-title {
    height: 400px;
    width: 100%;
  }
  .post-content .post-title,
  .post-list h4 {
    font-size: 24px;
  }
  .post-content .post-subtitle {
    font-size: 16px;
  }
  .post-list p {
    font-size: 15px;
    margin-bottom: 10px;
  }
  .footer-container h5 {
    font-size: 20px;
  }

  .footer-container ul li a {
    font-size: 14px;
  }
  .news-img {
    width: 170px;
  }
  #blog-collapse .right-content .footer {
    display: none;
  }
}

@media screen and (max-width: 680px) {
  .news {
    flex-direction: column;
    align-items: center !important;
    width: 100%;
  }
  .blog-tabs .card-body .news-date {
    font-size: 20px;
    padding-right: 15px;
  }
  .news .news-text {
    margin: 0px 10px !important;
  }
  .news-img {
    margin-bottom: 8px;
  }
  .news-text.ml-3 {
    margin-left: 0 !important;
  }
  .news-title {
    font-size: 20px;
    margin-top: 10px;
  }
  .news-detail {
    font-size: 16px;
  }
}
@media screen and (max-width: 525px) {
  .other-news .other-news-inner a {
    width: 47%;
  }
  .blog-banner .blog-banner-title {
    height: 350px;
  }
  .other-news .other-news-inner {
    gap: 10px;
  }
  .other-news .other-news-inner .other-wrap {
    margin-bottom: 10px;
  }
  .other-news {
    padding: 0px 15px;
    margin-top: 30px;
    width: 100%;
  }
  .other-news h3 {
    font-size: 22px;
  }
  .user-logo {
    width: 70px;
    height: 70px;
  }
  .right-content {
    width: 100%;
    padding: 0px;
  }
  .blog-banner {
    padding: 0px;
    width: 100%;
  }
  .wall-video {
    height: 150px;
  }
  .vlog-text h5 {
    font-size: 25px;
    line-height: 30px;
  }
  .vlog-text {
    width: 90%;
    margin: 20px auto;
  }
  .blog-user-detail {
    margin-bottom: 20px;
  }
  .user-name h4 span {
    font-size: 12px;
  }
  .user-name h4 {
    font-size: 18px;
  }
  .post-content .post-title,
  .post-list h4 {
    font-size: 20px;
  }
}
