body {
    background-image: url("/assets/images/careers/Rectangle.png");
    background-size: contain;
    background-color: #f8f8f8;
}
.preloader {
    z-index: 100000000;
}
* {
    transition: 1s;
}

.circle {
    width: 7px;
    height: 7px;
    margin: 5px;
    background-color: #cbd5e1;
    border-radius: 50%;
}
li {
    margin-bottom: 5px;
}
@media screen and (max-width: 1000px) {
    li {
        margin-bottom: 10px;
    }
}

.side-nav a.nav-link {
    padding: 0 8px;
    text-decoration: none;
    color: #000;
  }
  
  @media screen and (max-width: 768px) {
    .side-nav a.nav-link {
      padding: .5rem;
    }
  }