@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");

.contact-main-wrap {
  background-color: #ffffff;
  background-image: url(..//images/contact-bg.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 80%, 0%;
}
.contact-main-wrap .contact-section {
  padding-top: 80px;
}
.contact-main-wrap .contact-section .contact-container {
  width: 95%;
  margin: auto;
}
.contact-section .row {
  align-items: end;
}
.contact-section .contact-form {
  padding: 50px 100px;
}
.contact-form h2 {
  font-size: 32px;
  margin-bottom: 20px;
  font-weight: 800;
  font-family: "Inter";
}
.contact-form p {
  color: #696969;
  line-height: 120%;
  margin-bottom: 20px;
}
.contact-container .contact-form .contact-detail {
  margin-top: 40px;
}
.form-control:focus {
  box-shadow: none;
}
.contact-detail .form-control {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 29px;
  border-bottom: 1px solid #292929;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  background-color: transparent;
  padding-left: 0;
  padding-bottom: 6px;
  color: #292929;
}
.contact-detail .form-control::placeholder {
  color: #292929;
}
.contact-detail .form-group {
  margin-bottom: 30px;
}
.contact-detail .form-check-label {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  color: #292929;
}
.contact-detail .form-check-label span,
.contact-detail .form-check-label.text-red {
  color: #cc1521;
}
.contact-detail .text-control {
  background: #ffffff;
  border: 1px solid #000000;
}
.contact-container .contact-form .contact-detail .btn-apply {
  padding: 10px 30px;
  display: inline-block;
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: #cc1521;
  white-space: nowrap;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
  transition: all ease-in-out 0.5s;
  left: 15px;
}
.contact-container .contact-form .contact-detail .btn-apply:after {
  content: "";
  position: absolute;
  background: #cc1521;
  width: 8px;
  height: 100%;
  left: 0;
  top: 0;
  transition: all ease-in-out 0.5s;
  z-index: -1;
}
.contact-container .contact-form .contact-detail .btn-apply:hover {
  color: #ffffff;
}
.contact-container .contact-form .contact-detail .btn-apply:hover::after {
  width: 100%;
}
.general-form-title {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 15px;
}
.contact-footer .contact-map {
  border-top: 10px solid #000;
}
.contact-footer h2 {
  font-size: 30px;
  margin-top: 0px;
  padding: 30px 100px 10px;
  font-weight: bold;
}
.contact-footer .contact-map iframe {
  height: 400px;
}
.social-part .social-detail {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 50px;
}
.social-part .social-detail li a img {
  width: 35px;
}
.social-part .social-detail li {
  display: inline-flex;
  margin: 7px 0;
}
.contact-name {
  margin-bottom: 15px;
}
.contact-name h5 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 8px;
  font-family: "Inter";
}
.contact-name p,
.contact-name a {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  color: #696969;
  font-size: 17px;
  margin-bottom: 0;
}
@media screen and (max-width: 1200px) {
  .contact-section .contact-form {
    padding: 50px 40px;
  }
  .btn-position {
    padding: 10px 40px;
    height: 55px;
    border-radius: 11px;
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    -ms-border-radius: 11px;
    -o-border-radius: 11px;
  }
  .contact-container .contact-form .contact-detail .btn-apply {
    padding: 10px 40px;
    height: 55px;
  }
  .contact-main-wrap {
    background-size: cover;
    background-position: top;
  }
  .contact-main-wrap .contact-section {
    padding-top: 60px;
  }
}
@media screen and (max-width: 992px) {
  .contact-section .contact-form {
    padding: 50px 0px;
  }
  .social-part .social-detail {
    justify-content: flex-start;
  }
  .contact-main-wrap .contact-section .contact-container {
    width: 90%;
  }
}
@media screen and (max-width: 680px) {
  .contact-detail .form-group {
    margin-bottom: 35px;
  }
  .contact-name h5,
  .contact-name p,
  .contact-name a {
    font-size: 15px;
  }
}

@media screen and (max-width: 480px) {
  .btn-position,
  .btn-apply,
  .contact-detail .form-control,
  .general-form-title,
  .contact-detail .form-check-label,
  label.title {
    font-size: 14px;
  }

  .btn-position,
  .btn-apply {
    height: auto;
  }
  .contact-section .contact-form {
    padding: 30px 0px 40px;
  }
  .contact-container .contact-form .contact-detail {
    margin-top: 30px;
  }
  .social-part .social-detail {
    gap: 15px;
    margin-top: 30px;
  }
  .contact-footer h2 {
    font-size: 28px;
    padding: 20px 0px 10px;
  }
  .contact-form h2 {
    font-size: 30px;
    margin-bottom: 10px;
  }
  .contact-container .contact-form .contact-detail .btn-apply {
    padding: 10px 30px;
    height: 40px;
  }
  .contact-detail .form-group {
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 375px) {
  .contact-detail form.row {
    margin: 0;
  }
}

@media screen and (max-width: 768px) {
  .side-nav a.nav-link {
    padding: 0.5rem;
  }
  .contact-main-wrap .contact-section .contact-container {
    width: 95%;
  }
}
