@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");

#landing.partner-section {
  width: 100%;
  background: url(../images/partnership/partnership.png) no-repeat;
  background-size: cover;
  background-position: 350px 0px;
  /* background-attachment: fixed; */
  position: relative;
}
.preloader {
  z-index: 100000000;
}
.career-bold-text {
  color: rgb(185 28 28) !important;
}
#landing,
#resume,
#interview,
#apply,
#offer,
#job {
  transition: 0.5s all;
}

#job,
#resume,
#interview,
#apply,
#offer {
  z-index: 100000000;
}
.partner-container {
  width: 90%;
  margin: auto;
}
.partner-title-section {
  display: block;
  position: relative;
  padding-bottom: 70px;
}
.partner-subtitle {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 30px;
}
.partner-title-section h1 {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 48px;
  font-weight: 400;
}
.btn-position {
  background: #cc1521;
  padding: 20px 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 64px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  white-space: nowrap;
  text-transform: capitalize;
}

/* gerenal section */
.general-section {
  width: 100%;
  padding: 150px 0;
}
.general-form {
  max-width: 70%;
  margin: 0 auto;
}
.general-title h2 {
  color: #292929;
  font-family: Inter;
  font-size: 42px;
  font-style: normal;
  font-weight: 600;
  position: relative;
}
.general-title h2::after {
  content: "";
  position: absolute;
  width: 32%;
  height: 1px;
  background-color: #292929;
  right: 0;
  top: 28px;
}
.general-title h2::before {
  content: "";
  position: absolute;
  width: 32%;
  height: 1px;
  background-color: #292929;
  left: 0;
  top: 28px;
}
.general-form-title {
  color: #cc1521;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 30px;
}

label.title {
  color: #292929;
  font-family: Inter;
  font-size: 22px;
  font-weight: 600;
  margin-top: 30px;
  margin-bottom: 20px;
}
.partnership-check {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;
}
.partnership-check .form-check {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0;
  margin-bottom: 0px !important;
}
.partnership-check .form-check-input {
  width: 20px;
  height: 20px;
  position: unset;
  margin: 0;
}
.daas-box .form-check {
  margin-bottom: 10px;
  padding-left: 0px;
  display: flex;
  align-items: center;
  gap: 11px;
}
.daas-box .form-check input {
  width: 15px;
  height: 15px;
  position: unset;
  margin: 0;
}
.general-form .form-control {
  color: #292929;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-bottom: 1px solid #292929;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  background-color: transparent;
  padding-left: 0;
  padding-bottom: 6px;
  border-radius: 0px;
}
.general-form .form-control:focus {
  box-shadow: none;
}
.general-form .form-control::placeholder {
  color: #292929;
}
.general-form .form-group {
  margin-bottom: 40px;
}
.general-form .form-check-label {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18.7px;
  line-height: 23px;
  color: #292929;
}
.general-form .form-check-label span {
  color: #cc1521;
}

/* benefits-section */
.benefits-section {
  padding: 100px 0;
}
.benefits-section .position-title {
  padding-left: 70px;
  color: #292929;
  font-family: Inter;
  font-size: 35px;
  font-weight: 500;
  margin-bottom: 30px;
  position: relative;
}
.benefits-section .position-title::after {
  content: "";
  position: absolute;
  width: 81px;
  height: 30px;
  background-color: #cc1521;
  left: -30px;
  top: 5px;
}
.benefits-content .benefits-title,
.benefits-list .benefits-item p,
p.subtitle-title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 164.52%;
  color: #000000;
  margin-bottom: 0;
}
.benefits-content .benefits-title strong {
  font-weight: 600;
}
.benefit-container {
  margin-top: 30px;
}
.benefit-container ul {
  list-style: disc;
  padding-left: 25px;
}
/* channel-section */
.channel-section .channel-title h2 {
  color: #292929;
  font-family: Inter;
  font-size: 45px;
  font-weight: 500;
  line-height: 67px;
  text-align: center;
  margin-bottom: 10px;
}
.channel-section .channel-title {
  text-align: center;
}
.channel-profile .profile-img {
  width: 215px;
  height: 215px;
  border-radius: 100%;
  overflow: hidden;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  margin: 40px auto 30px;
}
.channel-profile .profile-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.channel-profile .user-name {
  color: #292929;
  text-align: center;
  font-family: Inter;
  font-size: 22px;
  font-weight: 500;
}
.channel-profile a:hover {
  text-decoration: none;
}
.channel-profile .user-number {
  color: #292929;
  font-family: Inter;
  font-size: 22px;
  font-weight: 500;
  margin-top: 10px;
}
.social-link {
  margin-top: 20px;
}
.social-link img {
  width: 35px;
}
.book-button {
  margin-top: 35px;
}
.book-button button {
  color: #cc1521;
  text-align: center;
  font-family: Inter;
  font-size: 21px;
  font-weight: 600;
  border: 1px solid #cc1521;
  padding: 14px 40px;
  position: relative;
  transition: all ease-in-out 0.3s;
  z-index: 99;
}
.book-button button::after {
  content: "";
  position: absolute;
  width: 7px;
  height: 100%;
  background-color: #cc1521;
  left: 0;
  top: 0;
  transition: all ease-in-out 0.3s;
  z-index: -1;
}
.book-button button:hover::after {
  width: 100%;
}
.book-button button:hover {
  color: #fff;
}
.general-form .text-control {
  border: 1px solid #000000;
  padding: 15px;
}
.general-sec-title {
  color: #292929;
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 60px;
  margin-bottom: 20px;
}
/* tabs */
.partnership-tabs {
  margin: 50px 0;
}
.partnership-tabs .nav-tabs {
  display: none;
  border: none;
  margin-bottom: 40px;
}
.default-load .nav-link {
  filter: blur(0) !important;
  -webkit-filter: blur(0) !important;
}
.partnership-tabs .nav-tabs .nav-link {
  width: 160px;
  height: 145px;
  /*opacity: 0.5;
  */
  filter: blur(2.5px);
  -webkit-filter: blur(2.5px);
}
.partnership-tabs .nav-tabs .nav-link.active,
.partnership-tabs .nav-tabs .nav-item.show .nav-link {
  background-color: transparent;
  border: 0;
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  opacity: 1;
  filter: blur(0);
  -webkit-filter: blur(0);
}
.partnership-tabs .card {
  background-color: transparent;
}
.partnership-tabs .card .collapse {
  visibility: visible;
}
.side-nav a.nav-link {
  padding: 0 8px;
  text-decoration: none;
  color: #000;
}
.partnership-tabs .card .card-body {
  margin: auto;
  width: 80%;
}
.partnership-tabs .card .card-body .left-arrow {
  width: 25px;
}
.partnership-tabs .card .card-body img {
  width: 100%;
  box-shadow: 13px 13px 48px 14px rgba(0, 0, 0, 0.25);
}
.table {
  border-radius: 18px;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  -ms-border-radius: 18px;
  -o-border-radius: 18px;
  border: 1px solid #dee2e6 !important;
  overflow: hidden;
}
.table .table-blue {
  background-color: #2a3650;
}
.table .table-blue th {
  color: #fff;
  font-family: "Inter";
  font-weight: 600;
}
.table tbody {
  background-color: #fff;
}
.table tbody tr td {
  font-family: "Inter";
  font-weight: 600;
}

@media screen and (max-width: 768px) {
  .side-nav a.nav-link {
    padding: 0.5rem;
  }
  .partnership-tabs .card .card-body .left-arrow {
    display: none;
  }
  .partnership-tabs .card .card-body {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .partnership-tabs .nav-tabs {
    display: flex;
  }

  .partnership-tabs .card {
    border: none;
  }

  .partnership-tabs .card .card-header {
    display: none;
  }

  .partnership-tabs .card .collapse {
    display: block;
    visibility: visible;
  }
}

@media (max-width: 767px) {
  .partnership-tabs .tab-content > .tab-pane {
    display: block !important;
    opacity: 1;
  }
}

@media screen and (min-width: 2000px) {
  .general-title h2 {
    font-size: 96px;
    line-height: 120px;
  }
  .channel-profile .user-name {
    font-size: 38px;
  }
  .general-section {
    padding: 300px 0;
  }
  .benefits-section .position-title,
  .channel-section .channel-title h2 {
    font-size: 55px;
    margin-bottom: 80px;
  }
  .benefits-content .benefits-title,
  .benefits-list .benefits-item p,
  p.subtitle-title,
  .channel-profile .user-number {
    font-size: 34px;
  }
  .channel-section .channel-title::after {
    border: 6px solid rgba(41, 41, 41, 0.21);
  }
  .partner-subtitle {
    font-size: 30px;
    margin-bottom: 90px;
  }
  .partner-title-section h1 {
    font-size: 72px;
  }
  .partnership-tabs .nav-tabs .nav-link {
    width: 186px;
    height: 186px;
  }
  .partnership-tabs {
    margin: 200px 0 50px;
  }
}
@media screen and (max-width: 1350px) {
  .general-title h2::before {
    content: "";
    width: 28%;
  }
  .general-title h2::after {
    content: "";
    width: 28%;
  }
}
@media screen and (max-width: 1200px) {
  .general-title h2 {
    font-size: 40px;
  }

  .partner-container {
    width: 90%;
  }
  .btn-position {
    padding: 10px 40px;
    height: 55px;
  }
  .general-form .form-control,
  .general-form-title,
  label.title {
    font-size: 20px;
  }
  .general-form {
    width: 100%;
    max-width: 90%;
  }
}

@media screen and (max-width: 1100px) {
  .channel-profile .profile-img {
    width: 200px;
    height: 200px;
  }
  .partner-title-section h1 {
    font-size: 40px;
    line-height: normal;
  }
  .partnership-tabs {
    margin-top: 80px;
  }
  .benefits-section {
    padding: 100px 0;
  }
  .benefits-section .position-title,
  .channel-section .channel-title h2 {
    line-height: 120%;
    font-size: 40px;
  }
  .career-title-section h1,
  .general-title h2,
  .position-section .position-title {
    font-size: 35px;
  }
}

@media screen and (max-width: 992px) {
  .partner-title-section h1 {
    font-size: 40px;
  }
  .general-title h2 {
    font-size: 28px;
  }
  .general-title h2::before {
    content: "";
    width: 25%;
    top: 20px;
  }
  .general-title h2::after {
    content: "";
    width: 25%;
    top: 20px;
  }
  .partnership-tabs {
    margin-top: 40px;
  }
}
@media screen and (max-width: 768px) {
  .partnership-tabs .nav-tabs .nav-link {
    width: 120px;
    height: 120px;
  }
}
@media screen and (max-width: 767.59px) {
  .open-category .row {
    justify-content: center;
  }
  .partnership-tabs .card-header {
    background-color: transparent;
    border: none;
  }
  .partnership-tabs .card {
    border: none;
  }
  .partnership-tabs .card-header a {
    width: 120px;
    height: 120px;
    margin: 0 auto;
    display: block;
  }
}
@media screen and (max-width: 680px) {
  .general-title h2,
  .partner-title-section h1 {
    font-size: 32px;
  }
  .partner-subtitle {
    padding-top: 40px;
    margin-bottom: 0px;
  }
  .partnership-tabs {
    margin-top: 30px;
  }
  .partner-title-section {
    padding-bottom: 40px;
  }
  .category-location span,
  .general-form .form-control,
  .general-form-title,
  .general-form .form-check-label,
  label.title,
  .benefits-content .benefits-title,
  .benefits-list .benefits-item p,
  p.subtitle-title,
  .channel-profile .user-number {
    font-size: 16px;
  }
  .general-form .form-group {
    margin-bottom: 35px;
  }
  .btn-position {
    font-size: 18px;
  }
  .benefits-section .position-title,
  .channel-section .channel-title h2 {
    font-size: 32px;
  }
  .general-section {
    padding-top: 100px;
  }
  .benefits-section {
    padding: 20px 0 70px;
  }
  .channel-section .channel-title h2 {
    padding: 0 20px;
  }
  .general-title h2 {
    padding: 0px;
    font-size: 22px;
  }
  .general-title h2::before {
    content: "";
    width: 20%;
    top: 13px;
  }
  .general-title h2::after {
    content: "";
    width: 20%;
    top: 13px;
  }
  .general-form {
    max-width: 100%;
  }
  .benefits-section .position-title::after {
    content: "";
    width: 60px;
    height: 20px;
    left: -30px;
    top: 10px;
  }
  .benefits-section .position-title {
    padding-left: 50px;
  }
  .book-button button {
    font-size: 18px;
    padding: 10px 30px;
  }
  .partnership-check {
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    margin-top: 0px;
  }
  label.title {
    margin-top: 0px;
  }
  .general-sec-title {
    margin-top: 40px;
  }
}

@media screen and (max-width: 480px) {
  .general-title h2,
  .partner-title-section h1 {
    font-size: 22px;
  }
  .benefits-section .position-title,
  .channel-section .channel-title h2 {
    font-size: 26px;
  }
  .benefits-section .position-title::after {
    content: "";
    width: 60px;
    height: 20px;
    left: -40px;
    top: 7px;
  }
  .category-location span,
  .general-form .form-control,
  .general-form-title,
  .general-form .form-check-label,
  label.title,
  .benefits-content .benefits-title,
  .benefits-list .benefits-item p,
  p.subtitle-title,
  .channel-profile .user-number {
    font-size: 14px;
  }
  .channel-profile .profile-img {
    width: 180px;
    height: 180px;
    margin: 20px auto 20px;
  }
  .benefits-section .position-title {
    padding-left: 35px;
  }
  .book-button {
    margin-top: 20px;
  }
  .partner-container {
    width: 95%;
  }
  .btn-position,
  .general-form .form-control,
  .general-form-title,
  .general-form .form-check-label,
  label.title {
    font-size: 16px;
  }
  .btn-position {
    height: auto;
  }
  .general-section {
    padding: 80px 0;
  }
  .partnership-check {
    gap: 10px;
  }
  .general-form .form-group {
    margin-bottom: 25px;
  }
  .position-section .position-title {
    margin-bottom: 45px;
  }
  .position-section {
    padding: 60px 0 5px;
  }
  .general-title h2::before,
  .general-title h2::after {
    content: "";
    width: 15%;
  }
}

@media screen and (max-width: 375px) {
  .general-title h2 {
    margin-bottom: 40px;
  }
  .general-form form.row {
    margin: 0;
  }
  .general-title h2 {
    font-size: 20px;
  }
  .general-section {
    padding-top: 90px;
  }
}
