.text-color {
  color: #cc1521;
}
.career-bold-text {
  color: rgb(185 28 28) !important;
}
.side-nav a.nav-link {
  padding: 0 8px;
  text-decoration: none;
  color: #000;
}
.terms-section {
  padding-top: 120px;
  width: 100%;
  background: url(../images/terms-bg.png) no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.terms-menu {
  margin-bottom: 60px;
}

.terms-menu ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  min-height: 40px;
}
.terms-menu ul li a {
  color: #000;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  border-bottom: 2px solid transparent;
  padding-bottom: 5px;
  transition: all ease-in-out 0.3s;
}
.terms-menu ul li a:hover {
  color: #cc1521;
  font-weight: 600;
  font-size: 20px;
  border-bottom: 2px solid #cc1521;
  text-decoration: none;
}
.terms-content-wrap {
  /* min-height: 400px; */
  width: 100%;
  margin-bottom: 20px;
  scroll-margin-top: 100px;
}
/* .default-height {
  min-height: 250px;
} */
.highlight {
  width: 75%;
  margin: auto;
  transition: all ease-in-out 0.5s;
}

.terms-content {
  overflow: hidden;
}

.terms-container {
  width: 90%;
  margin: auto;
}
.sec-container {
  width: 90%;
  margin: auto;
}
.terms-content .terms-title {
  display: flex;
  align-items: center;
  margin-bottom: 60px;
}
.terms-content .terms-title #termsHead {
  width: 1px;
  height: 42px;
  background-color: #cc1521;
  margin-top: 9px;
  transition: all ease-in-out 0.5s;
}
.terms-content .terms-title h1 {
  font-weight: 600;
  font-size: 50px;
  margin-bottom: 0px;
}
.terms-content .terms-subtitle h3 {
  font-family: Inter;
  font-size: 52px;
  font-weight: 600;
  margin-bottom: 40px;
}
.terms-content .terms-content-wrap {
  margin-bottom: 100px;
}
.terms-content .terms-content-wrap h4 {
  font-family: Inter;
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 20px;
}
.terms-content .terms-content-wrap p {
  color: #000;
  text-align: justify;
  font-family: Inter;
  font-size: 17px;
  font-weight: 400;
}
@media screen and (min-width: 2000px) {
  .terms-menu ul li a {
    font-size: 26px;
  }
  .terms-menu ul li a:hover {
    font-size: 28px;
  }
  .terms-menu {
    margin-bottom: 100px;
  }
  .terms-content .terms-subtitle h3 {
    font-size: 72px;
    margin-bottom: 50px;
  }
  .terms-content .terms-content-wrap h4 {
    font-size: 50px;
  }
  .terms-content .terms-content-wrap p {
    font-size: 22px;
  }
}
@media screen and (max-width: 992.5px) {
  .terms-section {
    padding-top: 90px;
  }
  .terms-menu ul li a {
    font-size: 16px;
  }
  .terms-menu ul li a:hover {
    font-size: 18px;
  }
  .sec-container {
    width: 100%;
  }
  .terms-content .terms-subtitle h3 {
    font-size: 40px;
    margin-bottom: 30px;
  }
  .terms-content .terms-content-wrap h4 {
    font-size: 28px;
  }
  .terms-content .terms-content-wrap p {
    font-size: 16px;
  }
  .terms-content .terms-content-wrap {
    margin-bottom: 70px;
  }
}
@media screen and (max-width: 768px) {
  .terms-content .terms-title h1 {
    font-size: 40px;
    margin-bottom: 40px;
  }
  .terms-content .terms-content-wrap h4 {
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 525px) {
  .terms-menu {
    display: none;
  }
  .terms-content::before {
    content: "";
    width: 3px;
    top: 60px;
  }
  .terms-content .terms-title h1 {
    font-size: 35px;
    margin-bottom: 30px;
  }
  .terms-content .terms-subtitle h3 {
    font-size: 30px;
    margin-bottom: 20px;
  }
  .terms-content .terms-content-wrap h4 {
    font-size: 20px;
  }
  .terms-content .terms-content-wrap p {
    font-size: 14px;
  }
  .terms-content .terms-content-wrap {
    margin-bottom: 50px;
  }
}
